:root {
    --main: #3D0066;
    --text: #FFEE32;
    --scoreBackground: #080001;
    --scoreColor: #F5D547;
    --secondary: #FFD500;
    --periodColor: #DB3069;
    --timerColor: #DB3069;
}

body {
    margin: 0;
    background-color: var(--main);
    color: var(--text);
}

@font-face {
    font-family: "CursedTimerUtil";
    src: url("assets/fonts/CursedTimerUlil-Aznm.ttf")
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
}
.subtitle {
    font-size: 32px;
    margin-bottom: 10px;
}

.score {
    width: 155px;
    height: 120px;
}

.scores-btn-container {
    margin-top: 26px; 
}

.score-btn {
    width: 45px;
    height: 45px;
    background: none;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--secondary);
}

.score-btn:hover {
    background: rgba(0,0,0,0.3);
}

.display {
    font-size: 90px;
    font-family: CursedTimerUtil, Arial, sans-serif;
    line-height: 130px;
    margin: 0;
    background: var(--scoreBackground);
    color: var(--scoreColor);
    border-radius: 10px;
}

.timer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    justify-content: center;
    font-size: 70px;
    width: 300px;
    height: 120px;
    color: var(--timerColor);
}

.timer-btn {
    width: 70px;
    height: 45px;
    background: none;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--secondary);
    margin-top: 20px;
}

.timer-btn:hover {
    background: rgba(0,0,0,0.3);
}

.period {
    font-size: 70px;
    width: 60px;
    height: 120px;
    margin-left: 20px;
    color: var(--periodColor);
}

.period-title {
    font-size: 38px;
    font-style: italic;
}

.period-container {
    display: flex;
    margin-top: 20px;
}

#middle-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fouls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fouls {
    width: 100px;
    height: 120px;
    margin-bottom: 20px;
}

.new-game-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#new-game-btn {
    width: 200px;
    height: 45px;
    background: none;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--secondary);
    margin-top: 50px;
}

#new-game-btn:hover {
    background: rgba(0,0,0,0.3);
}

.period-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.period-btn {
    margin: 20px
}